# More Practice With SQL Queries - Lab

## Introduction

In this lesson, we'll run through some practice questions to refresh our knowledge of SQL Queries!

## Objectives

You will be able to:
- Practice your SQL knowledge


## Getting Started

As in previous labs, we'll make use of the `sqlite3` library as well as `pandas`. By combining them, we'll be able to write our queries as python strings, and make sure that the results are always returned as a pandas DataFrame. 

We'll start by loading both libraries and connecting to the database we'll be using for this lab, `data.sqlite`. You may remember this database from a previous lab. As a refresher, here's the ERD diagram for this database: 

<img src='images/Database-Schema.png'>

In the cell below:

* Import the necessary libraries `pandas` and `sqlite3`
* Establish a connection to the database `data.sqlite`
* Get the `cursor` from the connection and store it in the variable `c`.

In [1]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
c = conn.cursor()

## Basic Queries

Now, let's review basic SQL queries. In the cell below:

* Write a query that gets the first name, last name, phone number, and address for all customers in California with a credit limit greater than 25000.00.

In [ ]:
sql_1 = """

SELECT * FROM sqlite_master WHERE type="table"

"""


c.execute(sql_1)
df_master = pd.DataFrame(c.fetchall())
df_master.columns = [x[0] for x in c.description]
df_master


field_dict = {}

for tab_name in df_master.name:
    sql_2 = """

    SELECT * FROM {}

    """.format(tab_name)
    c.execute(sql_2)
    field_dict.update({tab_name: [x[0] for x in c.description]})

    
print("table names: {}".format(list(field_dict.keys())))
print("\n")

for tab_name in field_dict.keys():
    print("""columns in table "{}": {}\n""".format(tab_name, field_dict[tab_name]))

In [10]:
# For the first query, the boilerplate for getting 
#the query into a dataframe has been provided for you

sql_str = """

SELECT contactFirstName, contactLastName, phone, addressLine1, CAST(c.creditLimit as DECIMAL(9, 2)) as credLimit
FROM customers c
WHERE credLimit > 25000

"""


c.execute(sql_str)
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

,contactFirstName,contactLastName,phone,addressLine1,credLimit
0,Jean,King,7025551838,8489 Strong St.,71800
1,Peter,Ferguson,03 9520 4555,636 St Kilda Road,117300
2,Janine,Labrune,40.67.8555,"67, rue des Cinquante Otages",118200
3,Jonas,Bergulfsen,07-98 9555,Erling Skakkes gate 78,81700
4,Susan,Nelson,4155551450,5677 Strong St.,210500
5,Roland,Keitel,+49 69 66 90 2555,Lyonerstr. 34,59700
6,Julie,Murphy,6505555787,5557 North Pendale Street,64600
7,Kwai,Lee,2125557818,897 Long Airport Avenue,114900
8,Diego,Freyre,(91) 555 94 44,"C/ Moralzarzal, 86",227600
9,Christina,Berglund,0921-12 3555,Berguvsvägen 8,53100
10,Jytte,Petersen,31 12 3555,Vinbæltet 34,83400
11,Mary,Saveley,78.32.5555,"2, rue du Commerce",123900
12,Eric,Natividad,+65 221 7555,Bronz Sok.,103800
13,Jeff,Young,2125557413,4092 Furth Circle,138500
14,Kelvin,Leong,2155551555,7586 Pompton St.,100600
15,Juri,Hashimoto,6505556809,9408 Furth Circle,84600
16,Wendy,Victorino,+65 224 1555,106 Linden Road Sandown,97900
17,Veysel,Oeztan,+47 2267 3215,Brehmen St. 121,96800
18,Martine,Rancé,20.16.1555,"184, chaussée de Tournai",82900
19,Marie,Bertrand,(1) 42.34.2555,"265, boulevard Charonne",84300
20,Jerry,Tseng,6175555555,4658 Baden Av.,43400
21,Julie,King,2035552570,25593 South Bay Ln.,84300
22,Mory,Kentary,+81 06 6342 5555,1-6-20 Dojima,81200
23,Michael,Frick,2125551500,2678 Kingston Rd.,76400
24,Matti,Karttunen,90-224 8555,Keskuskatu 45,96500
25,Rachel,Ashworth,(171) 555-1555,Fauntleroy Circus,136800
26,Dean,Cassidy,+353 1862 1555,25 Maiden Lane,69400
27,Elizabeth,Devon,(171) 555-2282,"12, Berkeley Gardens Blvd",92700
28,Yoshi,Tamuri,(604) 555-3392,1900 Oak St.,90300
29,Miguel,Barajas,6175557555,7635 Spinnaker Dr.,68700
...,...,...,...,...,...
64,Paul,Henriot,26.47.1555,59 rue de l'Abbaye,81100
65,Wales,MacKinlay,64-9-3763555,199 Great North Road,77700
66,Juri,Yoshido,6175559555,8616 Spinnaker Dr.,41900
67,Dorothy,Young,6035558647,2304 Long Airport Avenue,114200
68,Allen,Nelson,6175558555,7825 Douglas Av.,70700
69,Georg,Pipps,6562-9555,Geislweg 14,71700
70,Arnold,Cruz,+63 2 555 3587,15 McCallum Street,81500
71,Maurizio,Moroni,0522-556555,Strada Provinciale 124,121400
72,Akiko,Shimamura,+81 3 3584 0555,2-2-8 Roppongi,94400
73,Dominique,Perrier,(1) 47.55.6555,"25, rue Lauriston",95000
74,Sarah,McRoy,04 499 9555,101 Lambton Quay,86800
75,Michael,Donnermeyer,+49 89 61 08 9555,Hansastr. 15,77000
76,Maria,Hernandez,2125558493,5905 Pompton St.,67500
77,Dan,Lewis,2035554407,2440 Pompton St.,49700
78,Martha,Larsson,0695-34 6555,Åkergatan 24,116400
79,Sue,Frick,4085553659,3086 Ingle Ln.,77600
80,Roland,Mendel,7675-3555,Kirchgasse 6,45300
81,Leslie,Murphy,2035559545,567 North Pendale Street,95400
82,Yu,Choi,2125551957,5290 North Pendale Street,39800
83,Martín,Sommer,(91) 555 22 82,"C/ Araquil, 67",104600
84,Violeta,Benitez,5085552555,1785 First Street,85800
85,Sean,Clenahan,61-9-3844-6555,7 Allen Street,60300
86,Franco,Ricotti,+39 022515555,20093 Cologno Monzese,34800
87,Steve,Thompson,3105553722,3675 Furth Circle,55400
88,José Pedro,Roel,(95) 555 82 82,"C/ Romero, 33",65700
89,Rosa,Salazar,2155559857,11328 Douglas Av.,72600
90,Sue,Taylor,4155554312,2793 Furth Circle,60300
91,Thomas,Smith,(171) 555-7555,120 Hanover Sq.,43300
92,Valarie,Franco,6175552555,6251 Ingle Ln.,85100
93,Tony,Snowden,+64 9 5555500,Arenales 1938 3'A',110000

#### Expected Output

<img src='images/expected-output-1.png'>

## Aggregate Functions and GROUP BY

Next, write a query that get sthe average credit limit per state.

In [3]:

sql_str = """

SELECT state, AVG(c.creditLimit) as stateCreditLimit
FROM customers c
GROUP BY state

"""


c.execute(sql_str)
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

            state  stateCreditLimit
0                      61839.726027
1              BC      89950.000000
2              CA      83854.545455
3              CT      57350.000000
4        Co. Cork          0.000000
5   Isle of Wight      93900.000000
6              MA      70755.555556
7              NH     114200.000000
8              NJ      43000.000000
9             NSW     100550.000000
10             NV      71800.000000
11             NY      89966.666667
12          Osaka      81200.000000
13             PA      84766.666667
14       Pretoria          0.000000
15     Queensland      51600.000000
16         Québec      48700.000000
17          Tokyo      94400.000000
18       Victoria      88800.000000

#### Expected Output

<img src='images/expected-output-2.png'>

## JOINs

Now, write a query that uses JOIN statements to get the customer name, customer number, order number, status, and quantity ordered. Print only the head of this DataFrame.

In [9]:


sql_str = """

SELECT c.customerName, c.customerNumber, o.orderNumber, o.status, od.quantityOrdered
FROM customers c
JOIN orders o USING(customerNumber)
JOIN orderdetails od USING(orderNumber)


"""


c.execute(sql_str)
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df.head()

        customerName customerNumber orderNumber   status quantityOrdered
0  Atelier graphique            103       10123  Shipped              26
1  Atelier graphique            103       10123  Shipped              34
2  Atelier graphique            103       10123  Shipped              46
3  Atelier graphique            103       10123  Shipped              50
4  Atelier graphique            103       10298  Shipped              32

#### Expected Output

<img src='images/expected-output-3.png'>

## HAVING and ORDER BY

Now, repeat the last query, but only get orders from customers that have a quantityOrdered value greater than 30. Sort the rows in ascending order by the quantity ordered. 

**_Hint_**: For this one, you'll need to make use of HAVING, GROUP BY, and ORDER BY--make sure you get the order of them correct!

In [16]:

# get customers that have a quantity ordered value of greater than 30

sql_1 = """

                        SELECT od.orderNumber
                        FROM orderdetails od
                        WHERE quantityOrdered > 30

"""


sql_2 = """

SELECT c.customerName, o.customerNumber, o.orderNumber, o.status, quantityOrdered
FROM orders o
JOIN orderdetails od USING(orderNumber)
JOIN customers c USING(customerNumber)
WHERE o.orderNumber in ({})
ORDER BY cast(quantityOrdered as DECIMAL(9,2)) ASC


""".format(sql_1)



print(sql_2)
c.execute(sql_2)
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

SELECT c.customerName, o.customerNumber, o.orderNumber, o.status, quantityOrdered
FROM orders o
JOIN orderdetails od USING(orderNumber)
JOIN customers c USING(customerNumber)
WHERE o.orderNumber in (

                        SELECT od.orderNumber
                        FROM orderdetails od
                        WHERE quantityOrdered > 30

)
ORDER BY cast(quantityOrdered as DECIMAL(9,2)) ASC

,customerName,customerNumber,orderNumber,status,quantityOrdered
0,The Sharp Gifts Warehouse,450,10407,On Hold,6
1,Handji Gifts& Co,166,10409,Shipped,6
2,"Extreme Desk Decorations, Ltd",412,10418,Shipped,10
3,Salzburg Collectables,382,10419,Shipped,10
4,Petit Auto,314,10423,In Process,10
5,Tekni Collectables Inc.,328,10401,On Hold,11
6,La Rochelle Gifts,119,10425,In Process,11
7,Salzburg Collectables,382,10419,Shipped,12
8,The Sharp Gifts Warehouse,450,10407,On Hold,13
9,"Tokyo Collectables, Ltd",398,10408,Shipped,15
10,L'ordine Souveniers,386,10416,Shipped,15
11,Salzburg Collectables,382,10419,Shipped,15
12,Souveniers And Things Co.,282,10420,In Process,15
13,"Extreme Desk Decorations, Ltd",412,10418,Shipped,16
14,"Australian Collectables, Ltd",471,10415,Disputed,18
15,L'ordine Souveniers,386,10416,Shipped,18
16,La Rochelle Gifts,119,10425,In Process,18
17,Euro+ Shopping Channel,141,10412,Shipped,19
18,La Rochelle Gifts,119,10425,In Process,19
19,Land of Toys Inc.,131,10107,Shipped,20
20,"AV Stores, Co.",187,10110,Shipped,20
21,Salzburg Collectables,382,10119,Shipped,20
22,Marseille Mini Autos,350,10122,Shipped,20
23,Muscle Machine Inc,151,10127,Shipped,20
24,Muscle Machine Inc,151,10127,Shipped,20
25,Lyon Souveniers,250,10134,Shipped,20
26,Mini Gifts Distributors Ltd.,124,10135,Shipped,20
27,Souveniers And Things Co.,282,10139,Shipped,20
28,Souveniers And Things Co.,282,10139,Shipped,20
29,Suominen Souveniers,334,10141,Shipped,20
...,...,...,...,...,...
2966,The Sharp Gifts Warehouse,450,10407,On Hold,59
2967,The Sharp Gifts Warehouse,450,10407,On Hold,59
2968,Euro+ Shopping Channel,141,10412,Shipped,60
2969,Gifts4AllAges.com,362,10414,On Hold,60
2970,Souveniers And Things Co.,282,10420,In Process,60
2971,Mini Caravy,209,10405,Shipped,61
2972,Danish Wholesale Imports,145,10406,Disputed,61
2973,Handji Gifts& Co,166,10409,Shipped,61
2974,Tekni Collectables Inc.,328,10401,On Hold,62
2975,The Sharp Gifts Warehouse,450,10400,Shipped,64
2976,Tekni Collectables Inc.,328,10401,On Hold,64
2977,"Down Under Souveniers, Inc",323,10404,Shipped,64
2978,The Sharp Gifts Warehouse,450,10407,On Hold,64
2979,Danish Wholesale Imports,145,10406,Disputed,65
2980,GiftsForHim.com,357,10410,Shipped,65
2981,"UK Collectables, Ltd.",201,10403,Shipped,66
2982,"UK Collectables, Ltd.",201,10403,Shipped,66
2983,The Sharp Gifts Warehouse,450,10407,On Hold,66
2984,Euro+ Shopping Channel,141,10417,Disputed,66
2985,Souveniers And Things Co.,282,10420,In Process,66
2986,Euro+ Shopping Channel,141,10412,Shipped,70
2987,Salzburg Collectables,382,10419,Shipped,70
2988,Mini Caravy,209,10405,Shipped,76
2989,The Sharp Gifts Warehouse,450,10407,On Hold,76
2990,The Sharp Gifts Warehouse,450,10407,On Hold,76
2991,Tekni Collectables Inc.,328,10401,On Hold,77
2992,"Down Under Souveniers, Inc",323,10404,Shipped,77
2993,Tekni Collectables Inc.,328,10401,On Hold,85
2994,"Down Under Souveniers, Inc",323,10404,Shipped,90
2995,Mini Caravy,209,10405,Shipped,97

#### Expected Output

<img src='images/expected-output-4.png'>

## Subqueries

Finally, get the first name, last name, employee number, and office code for employees from an office with less than 5 employees.

In [17]:


sql_1 = """

SELECT officeCode
FROM employees e
GROUP BY officeCode
HAVING count(employeeNumber)<5

"""

sql_2 = """

SELECT firstName, lastName, employeeNumber, officeCode
FROM employees e
WHERE officeCode in ({})

""".format(sql_1)


c.execute(sql_2)
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

   firstName   lastName employeeNumber officeCode
0    William  Patterson           1088          6
1      Julie   Firrelli           1188          2
2      Steve  Patterson           1216          2
3   Foon Yue      Tseng           1286          3
4     George     Vanauf           1323          3
5      Larry       Bott           1501          7
6      Barry      Jones           1504          7
7       Andy     Fixter           1611          6
8      Peter      Marsh           1612          6
9        Tom       King           1619          6
10      Mami      Nishi           1621          5
11   Yoshimi       Kato           1625          5

In [2]:


sql_1 = """

SELECT * FROM customers

"""



c.execute(sql_1)
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.00
1,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,USA,1166,71800.00
2,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611,117300.00
3,119,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",,Nantes,,44000,France,1370,118200.00
4,121,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,,Stavern,,4110,Norway,1504,81700.00
5,124,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00
6,125,Havel & Zbyszek Co,Piestrzeniewicz,Zbyszek,(26) 642-7555,ul. Filtrowa 68,,Warszawa,,01-012,Poland,,0.00
7,128,"Blauer See Auto, Co.",Keitel,Roland,+49 69 66 90 2555,Lyonerstr. 34,,Frankfurt,,60528,Germany,1504,59700.00
8,129,Mini Wheels Co.,Murphy,Julie,6505555787,5557 North Pendale Street,,San Francisco,CA,94217,USA,1165,64600.00
9,131,Land of Toys Inc.,Lee,Kwai,2125557818,897 Long Airport Avenue,,NYC,NY,10022,USA,1323,114900.00
10,141,Euro+ Shopping Channel,Freyre,Diego,(91) 555 94 44,"C/ Moralzarzal, 86",,Madrid,,28034,Spain,1370,227600.00
11,144,"Volvo Model Replicas, Co",Berglund,Christina,0921-12 3555,Berguvsvägen 8,,Luleå,,S-958 22,Sweden,1504,53100.00
12,145,Danish Wholesale Imports,Petersen,Jytte,31 12 3555,Vinbæltet 34,,Kobenhavn,,1734,Denmark,1401,83400.00
13,146,"Saveley & Henriot, Co.",Saveley,Mary,78.32.5555,"2, rue du Commerce",,Lyon,,69004,France,1337,123900.00
14,148,"Dragon Souveniers, Ltd.",Natividad,Eric,+65 221 7555,Bronz Sok.,Bronz Apt. 3/6 Tesvikiye,Singapore,,079903,Singapore,1621,103800.00
15,151,Muscle Machine Inc,Young,Jeff,2125557413,4092 Furth Circle,Suite 400,NYC,NY,10022,USA,1286,138500.00
16,157,Diecast Classics Inc.,Leong,Kelvin,2155551555,7586 Pompton St.,,Allentown,PA,70267,USA,1216,100600.00
17,161,Technics Stores Inc.,Hashimoto,Juri,6505556809,9408 Furth Circle,,Burlingame,CA,94217,USA,1165,84600.00
18,166,Handji Gifts& Co,Victorino,Wendy,+65 224 1555,106 Linden Road Sandown,2nd Floor,Singapore,,069045,Singapore,1612,97900.00
19,167,Herkku Gifts,Oeztan,Veysel,+47 2267 3215,Brehmen St. 121,PR 334 Sentrum,Bergen,,N 5804,Norway,1504,96800.00
20,168,American Souvenirs Inc,Franco,Keith,2035557845,149 Spinnaker Dr.,Suite 101,New Haven,CT,97823,USA,1286,0.00
21,169,Porto Imports Co.,de Castro,Isabel,(1) 356-5555,Estrada da saúde n. 58,,Lisboa,,1756,Portugal,,0.00
22,171,Daedalus Designs Imports,Rancé,Martine,20.16.1555,"184, chaussée de Tournai",,Lille,,59000,France,1370,82900.00
23,172,"La Corne D'abondance, Co.",Bertrand,Marie,(1) 42.34.2555,"265, boulevard Charonne",,Paris,,75012,France,1337,84300.00
24,173,Cambridge Collectables Co.,Tseng,Jerry,6175555555,4658 Baden Av.,,Cambridge,MA,51247,USA,1188,43400.00
25,175,Gift Depot Inc.,King,Julie,2035552570,25593 South Bay Ln.,,Bridgewater,CT,97562,USA,1323,84300.00
26,177,Osaka Souveniers Co.,Kentary,Mory,+81 06 6342 5555,1-6-20 Dojima,,Kita-ku,Osaka,530-0003,Japan,1621,81200.00
27,181,Vitachrome Inc.,Frick,Michael,2125551500,2678 Kingston Rd.,Suite 101,NYC,NY,10022,USA,1286,76400.00
28,186,"Toys of Finland, Co.",Karttunen,Matti,90-224 8555,Keskuskatu 45,,Helsinki,,21240,Finland,1501,96500.00
29,187,"AV Stores, Co.",Ashworth,Rachel,(171) 555-1555,Fauntleroy Circus,,Manchester,,EC2 5NT,UK,1501,136800.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,386,L'ordine Souveniers,Moroni,Maurizio,0522-556555,Strada Provinciale 124,,Reggio Emilia,,42100,Italy,1401,121400.00
93,398,"Tokyo Collectables, Ltd",Shimamura,Akiko,+81 3 3584 0555,2-2-8 Roppongi,,Minato-ku,Tokyo,106-0032,Japan,1621,94400.00
94,406,Auto Canal+ Petit,Perrier,Dominique,(1) 47.55.6555,"25, rue Lauriston",,Paris,,75016,France,1337,95000.00
95,409,Stuttgart Collectable Exchange,Müller,Rita,0711-555361,Adenauerallee 900,,Stuttgart,,70563,Germany,,0.00
96,412,"Extreme Desk Decorations, Ltd",McRoy,Sarah,04 499 9555,101 Lambton Quay,Level 11,Wellington,,,New Zealand,1612,86800.00
97,415,"Bavarian Collectables Imports, Co.",Donnermeyer,Michael,+49 89 61 08 9555,Hansastr. 15,,Munich,,80686,Germany,1504,77000.00
98,424,Classic Legends Inc.,Hernandez,Maria,2125558493,5905 Pompton St.,Suite 750,NYC,NY,10022,USA,1286,67500.00
99,443,"Feuer Online Stores, Inc",Feuer,Alexander,0342-555176,Heerstr. 22,,Leipzig,,04179,Germany,,0.00
100,447,Gift Ideas Corp.,Lewis,Dan,2035554407,2440 Pompton St.,,Glendale,CT,97561,USA,1323,49700.00
101,448,Scandinavian Gift Ideas,Larsson,Martha,0695-34 6555,Åkergatan 24,,Bräcke,,S-844 67,Sweden,1504,116400.00
102,450,The Sharp Gifts Warehouse,Frick,Sue,4085553659,3086 Ingle Ln.,,San Jose,CA,94217,USA,1165,77600.00
103,452,Mini Auto Werke,Mendel,Roland,7675-3555,Kirchgasse 6,,Graz,,8010,Austria,1401,45300.00
104,455,Super Scale Inc.,Murphy,Leslie,2035559545,567 North Pendale Street,,New Haven,CT,97823,USA,1286,95400.00
105,456,Microscale Inc.,Choi,Yu,2125551957,5290 North Pendale Street,Suite 200,NYC,NY,10022,USA,1286,39800.00
106,458,"Corrida Auto Replicas, Ltd",Sommer,Martín,(91) 555 22 82,"C/ Araquil, 67",,Madrid,,28023,Spain,1702,104600.00
107,459,Warburg Exchange,Ottlieb,Sven,0241-039123,Walserweg 21,,Aachen,,52066,Germany,,0.00
108,462,FunGiftIdeas.com,Benitez,Violeta,5085552555,1785 First Street,,New Bedford,MA,50553,USA,1216,85800.00
109,465,"Anton Designs, Ltd.",Anton,Carmen,+34 913 728555,"c/ Gobelas, 19-1 Urb. La Florida",,Madrid,,28023,Spain,,0.00
110,471,"Australian Collectables, Ltd",Clenahan,Sean,61-9-3844-6555,7 Allen Street,,Glen Waverly,Victoria,3150,Australia,1611,60300.00
111,473,Frau da Collezione,Ricotti,Franco,+39 022515555,20093 Cologno Monzese,Alessandro Volta 16,Milan,,,Italy,1401,34800.00
112,475,West Coast Collectables Co.,Thompson,Steve,3105553722,3675 Furth Circle,,Burbank,CA,94019,USA,1166,55400.00
113,477,Mit Vergnügen & Co.,Moos,Hanna,0621-08555,Forsterstr. 57,,Mannheim,,68306,Germany,,0.00
114,480,"Kremlin Collectables, Co.",Semenov,Alexander,+7 812 293 0521,2 Pobedy Square,,Saint Petersburg,,196143,Russia,,0.00
115,481,"Raanan Stores, Inc","Altagar,G M",Raanan,+ 972 9 959 8555,3 Hagalim Blv.,,Herzlia,,47625,Israel,,0.00
116,484,"Iberia Gift Imports, Corp.",Roel,José Pedro,(95) 555 82 82,"C/ Romero, 33",,Sevilla,,41101,Spain,1702,65700.00
117,486,Motor Mint Distributors Inc.,Salazar,Rosa,2155559857,11328 Douglas Av.,,Philadelphia,PA,71270,USA,1323,72600.00
118,487,Signal Collectibles Ltd.,Taylor,Sue,4155554312,2793 Furth Circle,,Brisbane,CA,94217,USA,1165,60300.00
119,489,"Double Decker Gift Stores, Ltd",Smith,Thomas,(171) 555-7555,120 Hanover Sq.,,London,,WA1 1DP,UK,1501,43300.00
120,495,Diecast Collectables,Franco,Valarie,6175552555,6251 Ingle Ln.,,Boston,MA,51003,USA,1188,85100.00
121,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00

#### Expected Output

<img src='images/expected-output-5.png'>

# Summary

In this lesson, we reviewed all the major concepts and keywords associated with SQL queries!